html, body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: sans-serif;

    display: flex;
    height: 100%;
    flex-direction: row;

    padding: 30px;
    box-sizing: border-box;
}

.title {
    text-align: center;
}

.card-holder {
    display: flex;
    justify-content: center;
}

.card {
    height: 16em;
    width: 9em;
    background-color: #F0E4B6;
    border: 3px solid black;
    display: inline-block;
    margin: 0 auto;

    transition: all 0.5s ease-in-out;
    transition-property: transform, width;
}

.card.staged {
}

.card.placeholder {
    opacity: 0;
}

#stage {
    position: relative;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

#stage > * {
    flex: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#stage > .center {
    flex: 1;
}